<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAnDBMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DoAnDBMS.Properties.Settings>
            <setting name="connStr" serializeAs="String">
                <value>Data Source=LAPTOP-DMP7HI8V;Initial Catalog=master;Integrated Security=True;Encrypt=False</value>
            </setting>
        </DoAnDBMS.Properties.Settings>
    </applicationSettings>
</configuration>